body{
    background-color:bisque;
}

.header_div{
    background-color: peru;
    color:saddlebrown;
}

.header_div p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 5px;
    font-size:medium;
}
.main_div button{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 25px;
    width: 130px;
    font-weight:900px;
    letter-spacing:3px;
}